concurry[all]>=0.13.0
datasets==4.0.0
dotenv
litellm==1.*
morphic==0.*
numpy==2.3.4
# openai==2.4.0
openai>=2.20.0
pandas==2.3.3
pyarrow<21
pydantic==2.12.3
pytest==8.4.2
pytest-timeout
pymoo==0.6.1.6
scikit-learn==1.7.0
slowburn[all]>=0.6.0
fastparquet
hvplot
bokeh
tiktoken==0.12.0